/*
* er hele siden
# er id
. er class
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 231, 231);

}
nav{
    display: grid;
    grid-template-columns: 3fr 97fr;
    align-items: center;
    height: 100px;
    padding:0px 5px 0px 5px;
}
#burger{
    display: grid;
    gap: 3px;
    display: inline-block;
    cursor: pointer;
}
.barone, .bartwo, .barthree {
    width: 50px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  /*det er her hvor den siger hvordan burger menu ændrer sig*/
  .change .barone {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bartwo {opacity: 0;}
  
  .change .barthree {
    transform: translate(0, -11px) rotate(45deg);
  }

#mobileonly{

}
#product{
    display: none;
}
#productinfo{
    display: none;
}
footer{
    display: none;
}
.banner img{
    display: none;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav{
        background-color: #e7e7e7;
    }
    #burger{
        width: 75px;
    }
    .banner img{
        display: block;
    }
    .barone, .bartwo, .barthree {
        width: 50px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      video{
        display: grid;
        width: 100%;
        height: 600px;
    }
    #product{
        display: grid;
        align-items: center;
        grid-template-columns: 55fr 45fr;
    }

    #productinfo{
        background-color: #e7e7e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 600px;

    }
    h1{
        margin-left: 50px;
        margin-top: 80px;
        font-size: 40px;
        
    }
    p{
        margin-left: 50px;
        margin-top: 25px;
        font-size: 12px;

    }
    
    button {
    background-color: #E1C118; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
    cursor: pointer;
    border-radius: 8px;
    }

button:hover {
    background-color: #45a049; 
}
    #productpicture{
        margin-top: 25px;
        background-color: rgb(231, 231, 231);
        max-width: 100%; 
        margin: 0 auto;
        height: 600px;
    }
    img {
        max-width: 100%; 
        height: auto; 
        display: block; 
    }

    footer{
        display: block;
        background-color: chartreuse;
        width: 100%;
        height: 75px;
    }
    footer p{
        text-align: left;
        margin-top: 5px;
        margin-left: 75px;
    }
    footer h3{
        text-align: left;
        margin-left: 75px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    #productinfo{
        height: 600px;
    }
    footer p{
        margin-left: 100px;
    }
    footer h3{
        margin-left: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    
    nav{
        height: 100px;
    }
    
    h1{
        margin-left: 50px;
        margin-top: 80px;
        font-size: 60px;
        text-align: center;
        
    }
    p{
        margin-left: 50px;
        margin-top: 25px;
        font-size: 18px;
        text-align: center;

    }
    
    video{
        height: 825px;
    }
    #product{
        display: grid;
        align-items: center;
        grid-template-columns: 45fr 55fr;
    }

    #productinfo{
        height: 850px;

    }
    #productpicture{
        height: 950px;
    }
    footer{
        height: 100px;
    }
    footer p{
        margin-left: 150px;
    }
    footer h3{
        margin-left: 150px;
    }

}
