/*
* er hele siden
# er id
. er class
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: grid;
    grid-template-columns: 10fr 80fr;
    align-items: center;
    height: 75px;
    padding:0px 5px 0px 5px;
}
#burger{
    display: grid;
    gap: 3px;
    display: inline-block;
    cursor: pointer;
}
.barone, .bartwo, .barthree {
    width: 50px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  /*det er her hvor den siger hvordan burger menu ændrer sig*/
  .change .barone {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bartwo {opacity: 0;}
  
  .change .barthree {
    transform: translate(0, -11px) rotate(45deg);
  }

#mobileonly{

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav{
        background-color: burlywood;
    }

    .barone, .bartwo, .barthree {
        width: 50px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      video{
        background-color: blueviolet;
        display: grid;
        width: 100%;
        height: 600px;
    }
    #product{
        display: grid;
        align-items: center;
        grid-template-columns: 55fr 45fr;
    }

    #productinfo{
        background-color: rgb(231, 231, 231);
        width: 100%;
        height: 400px;

    }
    h1{
        margin-left: 50px;
        margin-top: 80px;
        font-size: 40px;
        
    }
    p{
        margin-left: 50px;
        margin-top: 25px;
        font-size: 12px;

    }
    /* Style the button */
    button {
    background-color: #E1C118; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 50px;
    cursor: pointer;
    border-radius: 8px;
    }

/* Change the color of the button when hovered */
button:hover {
    background-color: #45a049; /* Darker green */
}
    #productpicture{
        background-color: cadetblue;
        width: 100%;
        height: 400px;
    }

    footer{
        background-color: chartreuse;
        width: 100%;
        height: 75px;
    }

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    nav{
        height: 100px;
    }
    
    h1{
        margin-left: 50px;
        margin-top: 80px;
        font-size: 60px;
        
    }
    p{
        margin-left: 50px;
        margin-top: 25px;
        font-size: 18px;

    }
    video{
        height: 825px;
    }
    #product{
        display: grid;
        align-items: center;
        grid-template-columns: 45fr 55fr;
    }

    #productinfo{
        height: 825px;

    }
    #productpicture{
        height: 825px;
    }
    footer{
        height: 100px;
    }
}
